.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row > button {
  margin-left: 4px;
  margin-right: 8px;
}

.row:not(:last-child) {
  margin-bottom: 16px;
}

.button {
  appearance: none;
  background: none;
  border-radius: 5px;
  font-size: 32px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border: 2px solid transparent;
  color: #9acdef;
  padding-bottom: 4px;
  cursor: pointer;
  background-color: #1e5dff;
  border-radius: 2px;
  /* transition: all 0.15s; */
}

.button:hover{
  color:#1e5dff;
  background-color: #2fa0ea;
}

.button:active {
  background-color: #9acdef;
}
